@media (max-width: 1440px) {
    .list-link {
        font-size: 14px;
    }

    .main-professsion {
        margin-bottom: 40px;
    }
    
    .main-title {
        font-size: 70px;
        line-height: 75px;
        margin-bottom: 40px;
    }

    .main-title-2 {
        font-size: 3.5em;
        margin-bottom: 3%;
    }

    .main-description {
        font-size: 1.1em;
        line-height: 1.15em;
        margin-bottom: 1.5%;
    }
}

@media (max-width: 1024px) {
    .main-professsion {
        font-size: 25px;
        margin-bottom: 30px;
    }
    
    .main-title {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 40px;
    }

    .main-title-2 {
        font-size: 2.5em;
    }

    .main-description {
        font-size: 1em;
    }

    .main-contacts .list-body {
	    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  	    grid-column-gap: 20px;
  	    grid-row-gap: 20px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .list-link {
        margin: 0 10px;
    }

    .section {
        padding: 30px 10%;
    }

    .main-profile {
    	padding: 5% 10%;
    	background-position: 100% -46px;
    }

    .main-title {
        font-size: 30px;
        line-height: 35px;
    }

    .main-title-2 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 7%;
    }


    .main-skills .list-body {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .main-projects .list-item {
        margin: 2% 0 2% 0;
    }

    .main-add-education .list-body,
    .main-education .list-body {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 30px;
  
    }
}

@media (max-width: 660px) {
    .main-professsion {
        font-size: 18px;
        margin-right: 50%;
    }
}

@media (max-width: 563px) {
    .header {
        background-image: url("../images/photo.png");
    }

    .header li {
        margin: 5px 15px;
    }

    .main-profile {
        background-image: url("../images/photo.png");
    	background-position: 100% -82px;
    }

    .main-contacts .list-body,
    .main-skills .list-body {
      	-ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }

    .main-skills .list-item {
        margin: 2% 0 2% 2%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer-img,
    .footer-copyright {
        margin-bottom: 30px;
    }
}

@media (max-width: 463px) {
    .header .list-body {
        justify-content: space-between;
    }

    .header {
        background-image: none;
    }
    
    .main-profile {
    	background-position: 100% 0;
    }

    .main-professsion {
        margin-right: 70%;
    }
}

@media (max-width: 370px) {
    .header .list-body {
        justify-content: flex-start;
    }
}

@media (max-width: 349px) {
    .header .list-body {
        justify-content: space-around;
    }
}