@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
/* styles for zeroing */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}
/* ------------------- */

html {
	scroll-behavior: smooth;
}
  
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #808080;
	background-color: #a2c397;
	display: flex;
	flex-direction: column;   
}

.container {
	max-width: 100%;
	width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgb(144, 144, 144);
}

/*header*/
.header {
	padding: 30px;
	background-image: url("../images/photo1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}

.list-body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

.list-link {
	text-transform: uppercase;
	font-weight: bold;
	color: #616161;
	margin: 0 15px;
	transition: all 0.3s ease;
}

.list-link:hover {
	color: #d8c27f;
	transition: all 0.5s ease;
}

/*main*/
.section {
	padding: 50px 10%;
	display: flex;
	flex-direction: column;
}

/*profile*/
.main-profile {
	padding: 7% 15%;
	position: relative;
	background-image: url("../images/photo1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% -76px;
}

.main-professsion {
	font-size: 30px;
	color: #f6c941;
	margin-bottom: 50px;
}

.main-title {
	display: flex;
	font-size: 80px;
	line-height: 85px;
	font-weight: bold;
	margin-bottom: 50px;
}

.main-profile .list-link {
	margin: 0 20px 0 0;
}

/*summary*/
.main-title-2 {
	font-size: 4em;
	margin-bottom: 5%;
}

.main-description {
	font-size: 1.2em;
	line-height: 1.25em;
	margin-bottom: 1.5%;
}

/*contacts and scills*/
.main-contacts .list-body,
.main-skills .list-body {
	display: -ms-grid;
  	display: grid;
  	-ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  	grid-column-gap: 20px;
  	grid-row-gap: 20px;
}

.main-contacts .list-link,
.main-skills .list-item {
	display: flex;
	margin: 5% 0 5% 15%;
	text-align: left;
}

.main-contacts .list-link {
	margin: 2% 0 5% 0;
	text-transform: none;
}

.main-skills .list-item {
	position: relative;
	padding-left: 30px;
	margin: 2% 0 2% 15%;
}
  
.main-skills .list-item::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;
	width: 10px;
	height: 10px; 
	border: 1px solid #829985;
	border-radius: 50%;
}

/*code*/
.main-wrapper {
	max-width: 100%;
	display: flex;
	overflow-y: scroll;
}

.main-example {
	min-width: 900px;
}

/*projects*/
.main-projects .list-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main-projects .list-item {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin: 2% 0 2% 5%;
}

/*education*/
.main-add-education .list-body {
	display: -ms-grid;
  	display: grid;
  	-ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  	grid-column-gap: 100px;
  	grid-row-gap: 30px;
}

.main-add-education .list-body,
.main-education .list-item {
	margin-bottom: 5%;
}

.main-add-education .list-body div,
.main-education .list-item div {
	margin-top: 2%;
}

.main-english {
	margin-bottom: 30px;
}

/*footer*/
.footer {
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px 0;
}

.footer-link a {
	text-transform: uppercase;
	font-weight: bold;
	color: #616161;
	margin: 0 20px;
	transition: all 0.3s ease;
	position: relative;
	z-index: 1;
}

.footer-link a:hover {
	color: #d8c27f;
	transition: all 0.5s ease;
}

.footer-img {
	width: 10%;
}